version: '3'
services:
  kavita:
    image: jvmilazz0/kavita:latest
    container_name: kavita
    restart: unless-stopped
    environment:
      PUID: 1000
      PGID: 1000
      SET_CONTAINER_TIMEZONE: 'true'
      CONTAINER_TIMEZONE: America/Santiago
      TZ: America/Santiago
    volumes:
        - ./kavita_config:/kavita/config
    ports:
        - "5050:5000"
  kavita-email:
     container_name: kavita-email
     image: jvmilazz0/kavitaemail:latest
     ports:
        - 5053:5003
     volumes:
        - ./kavita_email_config:/app/config
     restart: unless-stopped
volumes:
  kavita_config:
  kavita_email_config: